/*{ border: 1px solid red;}*/

.top-left-info {
	color: #5a5a5a;
	padding: 3px 10px;
	font-family: 'Handlee', cursive;
	font-family: 'Architects Daughter', cursive;
}

.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

#container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	perspective: 1px;
	overflow-x: hidden;
	overflow-y: scroll;

}

#group1 {
	height: 1000px;
	position: relative;
	transform-style: preserve-3d;
}

@keyframes animatedBackground {
	from { background-position: 0%; }
	to { background-position: 90000%; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0%; }
	to { background-position: 90000%; }
}

#backgroundAnimated {
	background-image: url(../images/background-3.png);

	background-repeat: repeat-x;
	animation: animatedBackground 100000s linear infinite;
	-webkit-animation: animatedBackground 100000s linear infinite;
	transform: translateZ(-1px) scale(2);

	height: 100%;
	width: 100%;
	position: absolute;
	/*top: calc(250px - 50vh);
	padding-top: 100px;*/
	opacity: 0.9;
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	}

/*#background {
	background-image: url(../images/background-2.jpg);
	transform: translateZ(-1px) scale(2);
	height: 100%;
	width: 100%;
	position: absolute;
	top: calc(250px - 50vh);
	padding-top: 100px;
	opacity: 0.9;
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}*/

.foreground1 {
	position: relative;
	/*top: 10em;*/
	padding-top: 100px;
	/*background: #eaf2ef;*/
	/*opacity: 0.7;*/
	/*background: #efefef;*/
}

.foreground2 {
	position: relative;
	top: 20em;

	/*background: #eaf2ef;*/
	/*opacity: 0.7;*/
	/*background: #efefef;*/
	padding-top: 100px;
}

.foreground3 {
	position: relative;
	top: 30em;

	/*background: #eaf2ef;*/
	opacity: 0.7;
	/*background: #efefef;*/
	/*padding-top: 100px;*/
}

.foreground4 {
	position: relative;
	top: 40em;
	/*background: #efefef;
	opacity: 0.7;*/
	/*padding-top: 100px;*/
}

.info h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.info a {
	color: #00b0ff;
}